<p>   
    <label for="settings_user_id"><%= l('closers_settings.user') %></label>
    <%= select_tag('settings[user_id]',
                   options_for_select(User.where(:type => 'User', :admin => true).order(:firstname, :lastname).map { |u| [u.firstname + ' ' + u.lastname, u.id] }, @settings['user_id']), { include_blank: true }) %>
    <em class="info"><%= l('closers_settings.user_hint') %></em>
</p>